@font-face {
    font-family: 'More Perfect DOS VGA';
    src: url('MorePerfectDOSVGA.woff2') format('woff2'),
        url('MorePerfectDOSVGA.woff') format('woff'),
        url('MorePerfectDOSVGA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

